<h1 style="margin: left 300px; ;"><strong>Welcome to KITCoeK</strong></h1>
<div class="imginsert">
    <img src="../assets/firstpage.png" alt="">
</div>
<div class="login-buttons">
    <a href="https://studentregistration.auth.ap-northeast-1.amazoncognito.com/login?client_id=rn4sl2kgeus2giqk5oum8ha95&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2FHomepage"
        class="login-button admin">Log in As Admin</a>
    <a href="https://studentreg.auth.ap-northeast-1.amazoncognito.com/login?client_id=3l409obtql7neithtbd3tbgfqj&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2FHomepage"
        class="login-button teacher">Log in As ClassTeacher</a>
    <a href="https://studentreg.auth.ap-northeast-1.amazoncognito.com/login?client_id=3l409obtql7neithtbd3tbgfqj&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2FHomepage"
        class="login-button student">Log in As Student</a>
</div>