div {
  text-align: center;
  margin-top: 40px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

#box {
  width: 250px;
  height: 40px;
  text-align: center;
  display: flex;
  align-self: center;
  padding: 15px;
  border: 3px solid #00cc669d;
  border-radius: 10px;
  color: #0e0e11da;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  background-color: green;
}

button {
  width: 140px;
  height: 40px;
  background-color: aquamarine;
}